<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team4.anamnesis">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app__name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/app__name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.folder.FolderActivity"
            android:parentActivityName=".activity.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team4.anamnesis.activity.home.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.modeSelect.ModeSelectActivity"
            android:parentActivityName=".activity.folder.FolderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team4.anamnesis.activity.folder.FolderActivity" />
        </activity>
        <activity
            android:name=".activity.editDeck.EditDeckActivity"
            android:label="@string/title_activity_edit_deck"
            android:parentActivityName=".activity.folder.FolderActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team4.anamnesis.activity.folder.FolderActivity" />
        </activity>
        <activity
            android:name=".activity.study.StudyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.study.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".activity.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team4.anamnesis.activity.home.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/settings__title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team4.anamnesis.activity.home.HomeActivity" />
        </activity>
    </application>

</manifest>